.Card{
    justify-content: center;
}

.detail{
    width:17rem;
}

/* .Container h4{
  font-size: 15px;
} 
.Container Button {
    border: none;
    background-color: lightseagreen;
    margin: 0px 5px;
    border-radius: 9px;
    justify-content: center;
    
} */
