
/* input[type="number"]::-webkit-outer-spin-button, 
 input[type="number"]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}  */

.compra{
  display: grid;
  flex-direction: column;
 align-items: center;

}


.compra   label{
  text-align: right;
  margin-top: 1rem;

}


.compra  input{
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 230%;
}

b{
    font-size: 35px;
}


/* botoes */
.comprar Button{
  background-color:  lightseagreen;
  cursor: pointer;
  border: none;
margin: 0px 5px;
border-radius: 9px;
justify-content: center;
}
  
.compra Button a {
  text-decoration: none;
  color: #FFFFFF;
  align-items: left;
}