 /* * {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
} */

/* .row {
    background-color: #6ed4cc;
    align-items: center;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row a{
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
 } */


 /* .container {
    position: absolute;
} 

.containerCorpo  {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} */

button {
    border: none;
    padding: 8px;
    background-color: lightseagreen;
    margin: 0px 5px;
    border-radius: 9px;
}
/* 
.carrinho {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 10px;
} */

/* .botao2 button {
    background-image: url("../Header/imagens/logo1.png");
    width: 20.625vw;
    height: 4.375vw;
} */


/* #row {
    display: grid;
    grid-template-columns: 306px 306px 306px 306px 306px;
    gap:8px;
    margin-left: 10px;
    margin: 8px;
} */
/* 
.containerPostagem {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
} */

.promocao button{
    background-color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    color:#FFFFFF
 }

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 15px;
}

 .botao3 button {
    margin: 5px;
    width: 150px;
    height: 52px;
}  

img{
    width: 180px;
}

.col-3{
    width: 250px;
}

.cabecalho {
    background-color: lightseagreen;
    color: #FFFFFF;
}
.cabecalho h1{
text-align: center;
}