.compra{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
     
  }
  
  b{
      font-size: 35px;
  }
  
  input{
      width: 400px;
  }
  
  /* .carrinho img{

    size: 1000px;

} */